#pandas
#numpy
#scikit-learn
#scipy
#streamlit
#matplotlib
#seaborn
#plotly
#streamlit-option-menu
#streamlit_extras


# Core Streamlit App & UI
streamlit
streamlit-option-menu
streamlit-extras

# Data Manipulation & Analysis
pandas
numpy
scikit-learn
scipy<1.11

# Visualization
matplotlib
seaborn
plotly

# SDV (Synthetic Data Generation — only GaussianCopula)
sdv==0.21.1
copulas
faker

# Utilities
PyYAML
psutil
