#pandas
#numpy
#scikit-learn
#scipy
#streamlit
#matplotlib
#seaborn
#plotly
#streamlit-option-menu
#streamlit_extras

streamlit
streamlit-option-menu
streamlit-extras
pandas
numpy
scikit-learn
scipy<1.11
matplotlib
seaborn
plotly
copulas
sdv
