#pandas
#numpy
#scikit-learn
#scipy
#streamlit
#matplotlib
#seaborn
#plotly
#streamlit-option-menu
#streamlit_extras

streamlit
streamlit-option-menu
streamlit-extras
pandas
numpy
scikit-learn
scipy<1.11
matplotlib
seaborn
plotly
PyYAML
psutil
faker==18.9.0
copulas==0.7.0
sdv==0.21.1
